#header {
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    background-color: rgb(168, 88, 242);
    padding: 10px;
    padding-bottom: 1px;
    color: white;
    font-size: 2rem;
    text-align: center;
    background-image: linear-gradient(90deg, rgb(61, 61, 252), rgb(1, 4, 95));
}


#cards,h1{
    display: none;
    margin-left: 1rem;
    margin-top: 10px;
}

#cards div li {
    border-bottom: 0;
}


.element {
    margin-left: 30px;
    margin-bottom: 10px;
    font-weight: bold;
}

#img {
    width: 3em;
    height: 3em;
    margin-bottom: 20px;
    margin-left: 15px;
}

.textstyle {
    font-size: 1.15em;
    font-weight: bold;
}

.savedcityBtn {
    margin-top: 30px;
    width: 16rem;
    height: 3rem;
    background-color: rgb(183, 245, 11);
    color:black;
    font-size: 20px;
    font-weight: bold;
}